# Local con Docker:
#   docker run -d -p 27017:27017 --name mongo mongo:7
# MongoDB Atlas (gratis): mongodb+srv://usuario:clave@cluster.mongodb.net
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=poke_fresh
ORIGEN_FRONTEND=http://localhost:5173
